<p id="notice"><%= notice %></p>

<h1>To Do List</h1>

<table>
  <thead>
    <tr>
      <th>Things I need to do</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<!--     looping through database -->
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.todos %></td>
        <td><%= list.complete %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Another thing I need to do', new_list_path %>
