<!-- flash message for created/updated list -->
<%= render 'flash' %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Things I need to do</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<!--     looping through database -->
    <% @lists.each do |list| %>

      <% if list.complete %>
        <tr class="table-secondary">
          <td class="complete" >
            <%= link_to list.todos, edit_list_path(list) %> <% list.todos %>
          </td>
          <td>
            <%= link_to 'Show', list, class: "btn btn-primary" %>
          </td>
          <td>
            <%= link_to 'Edit', edit_list_path(list), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to 'Delete', list, class: "btn btn-danger", 
            method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% else %>

        <tr >
          <td>
            <%= link_to list.todos, edit_list_path(list) %> <% list.todos %>
          </td>
          <td>
            <%= link_to 'Show', list, class: "btn btn-primary" %>
          </td>
          <td>
            <%= link_to 'Edit', edit_list_path(list), class: "btn btn-info" %>
          </td>
          <td>
            <%= link_to 'Delete', list, class: "btn btn-danger", 
            method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_list_path, class: "btn btn-success btn-lg" %>
