<p id="notice"><%= notice %></p>

<p>
  <strong>A thing to do soon:</strong>
  <%= @list.todos %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @list.complete %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
