<!-- flash message for created/updated list -->
<%= render 'flash' %>
</br>
</br>
<div class="card text-center">
  <div class="card-header">
    What will you do today?
  </div>
  <div class="card-body">
    <h5 class="card-title">Todo:</h5>
    <p class="card-text">
      <%= @list.todos %>
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        </br>
        <strong>Complete:</strong>
        <%= @list.complete %>
      </li>
    </ul>
  </div>
</div>
</br>
<%= link_to 'Edit', edit_list_path(@list) %>|
<%= link_to 'Back', lists_path %>